RewriteEngine On

#RewriteCond %{HTTP_HOST} ^www\.guingamp-business\.com [NC]
#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI}

RewriteRule ^([a-zA-Z0-9-]+)$ index?page=$1

Options -Indexes 
