/*TOUS ça pour le menu*/

.navbar-korentin ul{
	width: 100%;
	background:  darkred;
	border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
                0 3px 5px rgba(0, 0, 0, .2),
                0 5px 10px rgba(0, 0, 0, .2),
                0 20px 20px rgba(0, 0, 0, .15);
}
.navbar-korentin ul li{
    display: inline;
	width: 100%;
}
 
.navbar-korentin ul li a:hover, ul li a:focus{
    background: rgba(255,255,255,.2);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .7) inset, 
                0 -1px 0 hsl(210, 100%, 42%) inset, 
                0 -2px 0 hsl(210, 100%, 48%) inset, 
                0 -3px 0 hsl(210, 100%, 54%) inset, 
                0 -4px 0 hsl(210, 100%, 60%) inset, 
                0 -5px 0 hsl(210, 100%, 70%) inset; 
	padding: 8px 25px 17px 25px;
} 
.navbar-korentin ul li a:active{
    background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.1)); 
    box-shadow: 0 0 2px rgba(0,0,0,.3) inset;
}
.navbar-korentin ul li a:hover::before, ul li a:focus::before{
    background: white;
    box-shadow: 0 0 2px white, 
                0 -1px 0 rgba(0, 0, 0, .4);
}
table
{
	border-collapse: separate;
	border-spacing: 200px 0px;
}

/*

.Formations
{
	width: auto;
	height: auto;
}
.description
{
	display: block;
	position: relative;
	left: 300px;
}
#lien
{
	position: relative;
	left: 100px;
}
#carte
{
	text-align: right;
	width:250px; 
	height:100px;
	frameborder:0;
	style: border 0;
}*/

/*Definition du fond d'écran*/
.background { 
	margin:0;
	padding:0;
	background: url('../imgs/background.jpg') no-repeat center fixed;
	-webkit-background-size: cover; 
	background-size: cover;
}


@media (max-width: 768px) { 
	.bg-crimson{
	background-color: #AB2A25;
	background: darkred
	}
	.bg-crimson{
	
	border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
                0 3px 5px rgba(0, 0, 0, .2),
                0 5px 10px rgba(0, 0, 0, .2),
                0 20px 20px rgba(0, 0, 0, .15);
	
}
}

.navbar-korentin .navbar-brand {
  color:rgba(255, 255, 255, 0.9);
  text-align: center;
	font-size: 2.4em;
}

.navbar-korentin .navbar-brand:hover, .navbar-korentin .navbar-brand:focus {
  color: rgba(255, 255, 255, 0.9);
}

.navbar-korentin .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
}

.navbar-korentin .navbar-nav .nav-link:hover, .navbar-korentin .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 0.6);
}

.navbar-korentin .navbar-nav .nav-link.disabled {
  color: rgba(255, 255, 255, 0.3);
}

.navbar-korentin .navbar-nav .show > .nav-link,
.navbar-korentin .navbar-nav .active > .nav-link,
.navbar-korentin .navbar-nav .nav-link.show,
.navbar-korentin .navbar-nav .nav-link.active {
  color: rgba(255, 255, 255, 0.9);
}

.navbar-korentin .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-korentin .navbar-text {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-korentin .navbar-text a {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-korentin .navbar-text a:hover, .navbar-korentin .navbar-text a:focus {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-korentin .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/*ici début mise en page article*/

.article {
	padding: 2rem 4rem;
	background-color: rgba(255,255,255,1.00);
	font-size: 1.5em;
	font-family: "Century Gothic";
	font-weight: normal;
	border: solid 1px rgba(116,115,115,0.50);
	-webkit-box-shadow: 0px 3px 5px 0px;
	box-shadow: 0px 3px 5px 0px;
	text-align: center;
}

/*footer coding*/

footer {
	color: #fff;
}

/*Mise en page formation*/

.header-post {
	font-weight: bold;
}

/*mise en page index*/

.index-button {
	top: 75%;

}
.index-button a{
	font-size: 2.2em;
}

